.appear-left {
  opacity: 0;
  transition: all 0.6s ease-in;
  --start-position: calc(-100% * var(--i));
  transform: translateX(var(--start-position));
}

.appear-left.show {
  transform: translateX(0);
  opacity: 1;
}


/* here are the rules for small windows */
@media (max-width: 768px) { 
  .appear-left {
    opacity: 1;
    --start-position: 0;
  }
}