.experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-size: 7vmin;
}

/* here are the rules for small windows */
@media (max-width: 768px) { 
  .experience {
    height: 50%;
    top: 25%;
  }
}
